.list {
  text-align: left;
  padding-right: 3rem;
  padding-left: 3rem;
  width: 50%;
  padding-bottom: 1rem;
}

.underline-black-border-bottom {
  list-style-type: none;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 500px) {
  .list {
    padding-left: 1rem;
    width: 100%;
  }
}
