.welcome-container {
  position: relative;
  width: 30%;
  display: block;
  text-align: left;
  margin-left: 3rem;
  background-color: rgb(70, 139, 204);
  padding-top: 2vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 3vw;
}

.white {
  color: white;
  max-width: 50%;
  font-weight: 100;
}

@media screen and (max-width: 500px) {
  .welcome-container {
    max-width: 100%;
    position: relative;
    width: 100%;
    display: block;
    text-align: left;
    margin-left: 0px;
    background-color: rgb(70, 139, 204);
    padding-top: 2vw;
    padding-left: 3vw;
    padding-right: 0px;
    padding-bottom: 3vw;
  }
}