h4 {
  color: white;
  font-weight: 700;
}

ul {
  list-style-type: none;
}


p {
  color: white;
  font-weight: 200;
  text-align: left;
  max-width: 100%;
}

div .a1 {
  padding-left: 3rem;
  padding-top: 3rem;
  padding-right: 3rem;
  width: 30%;
}

div .a2 {
  padding-top: 3rem;
  padding-right: 3rem;
  margin-bottom: 3rem;
}

.a2-1 {
  text-align: left;
  padding-left: 3rem;
  padding-right: 3rem;
}

.black {
  color: black;
}

.bold {
  font-weight: 700;
}

.gray {
  color: gray;
}



.a2-2-2 {
  width: 50%;
  padding-right: 1rem;
  padding-left: 3rem;
  padding-bottom: 1rem;
}

.a2-2 {
  display: flex;
  padding-top: 1rem;
  background-color: white;
}











.inputEmail {
  color: black;
  font-weight: 700;
  margin-bottom: 0px;
}

.inputMessage {
  color: black;
  font-weight: 700;
  margin-bottom: 0px;
}

input {
  border: 2px solid lightgray;
  box-shadow: none;
  float: left;
  width: 60%;
}

input:focus {
  border: 2px solid black;
}

#message {
  height: 5rem;
}

#submit {
  background-color: white;
  border: 3px solid rgb(70, 139, 204);
  color: rgb(70, 139, 204);
  font-weight: 900;
  margin-top: 1rem;
  width: 4rem;
}

#submit:hover {
  cursor: pointer;
}
